<header id="main-header">
    <div id="logo"><a href="/">A-CONSTRUCTION</a></div>
    <nav>
      <ul>
        <li class="nav-item"><a href="/reviews"> Reviews</a></li>
        <li class="nav-item"><a href="/recommend">  Recommend</a></li>
        <li class="nav-item"><a href="/about">About </a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
        <li class="nav-item"><a href="/gallery">Gallery</a></li> 
        <li class="nav-item"><a href="/services">Services</a></li>
      </ul>
    </nav>
    <button id="drawer-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>