<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/about.css"/>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    
    <div class="our-services">
      <h1>our <span>services</span></h1>
      <div class="main-service">
          <div class="inner-service">
              <h2>ARCHITECTURAL DESIGNS</h2>
              <p>Planning out and designing projects for othe firms to embark on. 
                  we have designed for top-notch constructional firms to take on.
              </p>
              <a href="/" class="service-btn">Back</a>
          </div>
  
          <div class="inner-service">
              <h2>BUILDING</h2>
              <p>We embark on governmental commercial and residential project. 
                  projects embaked on includes school buildings, hospitals, real estates recreational centers
                  and other individual and residential projects
              </p>
              <a href="/services" class="service-btn">services</a>
          </div>
  
          <div class="inner-service">
              <h2>EQUIPMENT SALES AND RENTAL </h2>
              <p>We sell and offer rental services of contruction machineries. Excavators, Bulldozers, Wheel Tractors, Cranes, Dump Trucks and othe heavy duty construction machines.</p>
              <a href="http://en.wikipedia.org/wiki/construction equipment">Read more</a>
          </div>
      </div>
  </div>

  </body>
</html>