<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/gallery.css" />
</head>
<body>
    <%- include('includes/header') %>

<div class="our-gallery">
    <h1>Made <span>made with</span> love</h1>
    <div class="main-gallery">
        <div class="inner-gallery">
            <img src="images/bulldozer.jpeg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/cranes.jpeg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/love2.png" alt="">
        </div>
        
        <div class="inner-gallery">
            <img src="images/constructor.png" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/building.jpeg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/architectural.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/pic.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/road.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/love4.png" alt="">
        </div>
    </div>
</div>

</body>
</html>


























