<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/services.css"/>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    
    <div class="our-services">
      <h1>What <span>we do</span></h1>
      <div class="main-service">
          <div class="inner-service">
              <h2>PRE-CONSTRUCTION</h2>
              <p>
                     Actual site inspection<br>
                    Permits and License<br>
                    Quality and cost estimates<br>
                    Construction preparations<br>
               </p>
              
          </div>
  
          <div class="inner-service">
              <h2>CONSTRUCTION</h2>
              <p>
                 Civil and architectural <br>
                     Electrical works <br>
                     Mechanical works<br>
                     Plumbing andcabling works <br>
                     and sanitary <br>
                    Fire safety and auxiliary works <br>
                </p>
             </div>
  
          <div class="inner-service">
              <h2>POST CONSTRUCTION </h2>
              <p>
                Built plans, occupancy permits and documentation <br>
                Testing and commissioning <br>
                Site turnover <br>
              </p>
              <a href="https://ellcad.com.ph/services/" >explore options</a>
          </div>
      </div>
  </div>

  </body>
</html>